<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.meituan.mapper.GoodsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hx.meituan.pojo.Goods">
		<id column="ID" property="id" />
		<result column="ADDRESS" property="address" />
		<result column="TEL" property="tel" />
		<result column="BUSINESS_TIME" property="businessTime" />
		<result column="IMG" property="img" />
		<result column="GOODS_NAME" property="goodsName" />
	</resultMap>

</mapper>
