#logo{
	margin-left: 15%;
	margin-top: 20px;
	float: left;
}
#logo-block{
	margin-top: 20px;
	margin-left: 55%;
	float: left;
}
#submit{
	width: 200px;
	margin-top: 20px;
	margin-left: 100px;
}
#a{
	margin-left: 100px;
}
#logon{
	margin-left: 15%;
	margin-top: 5%;
}

